<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204607301109-aa58lrud1vj4cc25egdsunp1nuvo4n6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204607301109-aa58lrud1vj4cc25egdsunp1nuvo4n6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204607301109-l7r9mcumrqae3255mqfrk4c6ilto6mor.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaUnXZ9MaY1_e1s1oLiOrD-4ozK0sjTMM</string>
	<key>GCM_SENDER_ID</key>
	<string>204607301109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sorugami.app</string>
	<key>PROJECT_ID</key>
	<string>sorugami-70f45</string>
	<key>STORAGE_BUCKET</key>
	<string>sorugami-70f45.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204607301109:ios:255bbda590dbdb032cacbc</string>
</dict>
</plist>